---
gitrepo:
  hosts:
    localhost
  vars:
    gitUrl:   "git@[your git repo]"
    localLocal:     "[your local HA configuration full path]"
    repoLocation:   "{{ repoLocation_global }}/"
    haConfSrc:      "{{ repoLocation }}"

homeassistant:
  hosts:
    [HA ip or hostname]
  vars:
    haUser:       "[your HA user]"
    haGroup:      "[your HA user's group]"
    haConfRemote: "/home/{{ haUser }}/.homeassistant/"